# Node  
node_modules/  
dist/  
  
# Java  
target/  
*.class  
*.jar  
  
# Maven  
apache-maven-*/  
maven.zip  
  
# IDE  
.idea/  
*.iml  
  
# Database  
data/  
  
# Logs  
*.log  
  
server.log 
backend/target/
*.jar
*.class
maven-status/
.idea/
*.iml
*.log
